@import "~materialize-css/dist/css/materialize.min.css";

.come-in{
    margin-right: 10px;
}

input.yellow-input{
    border-bottom: 1px solid yellow!important;
}

.nav-bar{
    padding: 0 2rem;
}

#detali{
    font-size: 14px;
}
.table{
    font-size: 14px;
}